<!DOCTYPE html>
<html>
<title>Previous Searches</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:150px;}
</style>
<body>

  <h2><%="You chose #{@search.colour}."%></h2>
  <h2><%="Your noun is #{@search.noun}."%></h2>

</body>
</html>
