<!DOCTYPE html>
<html>
<title>SelectAColour</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:150px;}
</style>
<body>

<div class="w3-container">
  <h2>Select a Colour...</h2>
  <p><button class="w3-button w3-cyan w3-hover-indigo">Blue</button></p>
  <p><button class="w3-button w3-light-green w3-hover-green">Green</button></p>
  <p><button class="w3-button w3-orange w3-hover-deep-orange">Orange</button></p>
  <p><button class="w3-button w3-pink w3-hover-pale-red">Pink</button></p>
  <p><button class="w3-button w3-purple w3-hover-deep-purple">Purple</button></p>
  <p><button class="w3-button w3-red w3-hover-pale-red">Red</button></p>
  <p><button class="w3-button w3-amber w3-hover-yellow">Yellow</button></p>
</div>

</body>
</html>
