<!DOCTYPE html>
<html>
<title>ANoun?</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:150px;}
</style>
<body>

<h2><%="You chose #{@colour}."%></h2>
<h2>Do you want a Noun?</h2>
<h2><%="You chose #{@noun}."%></h2>

</body>
</html>
